nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 12rem;
    background: white;
    z-index: 2;
    transition: all .2s;
    padding: 0 2rem;
}

.top-bar__actions li > button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    font-family: var(--font);
    box-shadow: 0px 0px 1px transparent;
    transition: all .2s;
    border-radius: 1.6rem;
}

.btn-guests {
    transition: all .2s;
}

.btn-guests:hover {
    background-color: var(--color-primary);
    color: #F2F2F2;
}

.top-bar__actions li > button:focus, .top-bar__actions li input[type="text"]:focus {
    border-radius: 1.6rem;
    outline: none;
    box-shadow: 0px 0px 1px var(--color-secondary);
}

.nav-active {
    height: 46rem;
    align-items: flex-start;
    padding-top: 9.6rem;
}

.top-bar__container {
    max-width: 125rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar__logo svg {
    fill: var(--color-primary);
    width: 9.6rem;
    height: 1.875rem;
}

.top-bar__actions {
    min-width: 29.7rem;
    height: 5.5rem;
    border-radius: 1.6rem;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: grid;
    /* grid-template-columns: 1fr max-content max-content; */
    grid-template-columns: 16.8rem 11.7rem 5.5rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.top-bar__actions li {
    font-size: 1.4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1.6rem; */
    width: 100%;
}

.top-bar__actions li:not(:last-child) {
    border-right: 1px solid #F2F2F2;
    /* padding-right: 1.6rem; */
}

.top-bar__actions li svg {
    width: 1.705rem;
    height: 1.706rem;
}

.top-bar__actions li input[type="text"] {
    border: none;
    font-family: var(--font);
    color: var(--color-secondary);
    font-size: 1.4rem;
    /* text-align: center; */
    border-radius: 1.6rem;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1.6rem;
    box-shadow: 0px 0px 1px transparent;
    transition: all .2s;
}

.input-inactive {
    text-align: center;
}

.input-active {
    padding: 1.6rem 0 0 2.6rem;
    text-align: left;
}

.btn-active {
    position: relative;
}

label[for="location"], label[for="btn-guests"] {
    position: absolute;
    top: .8rem;
    left: 2.6rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 800;
    color: var(--color-secondary);
}

.close-div {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
}

.top-bar__actions-active {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.location, .guests {
    position: relative;
}

.location-container {
    position: absolute;
    top: 8rem;
    left: 3rem;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: auto;
    grid-row-gap: 1.6rem;
    grid-column-gap: 1.6rem;
    overflow-y: auto;
    max-height: 15rem;
    padding-right: 1.5rem;
}

.location-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    transition: all .2s;
    cursor: pointer;
}

.location-item:hover {
    background-color: var(--color-primary);
}

.location-item svg {
    fill: var(--color-primary);
    transition: all .2s;
}

.location-item:hover svg {
    fill: white;
}

.location-item:hover .btn-destination {
    color: white;
}

.guests__wrapper {
    position: absolute;
    top: 8rem;
    left: 3rem;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 2rem;
}

.guests-item {

}

.guests-type {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-secondary);
}

.guests-description {

}

.guests-controls-wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-items: center;
    align-items: center;
    margin-top: 1.6rem;
    grid-column-gap: 1.5rem;
    justify-content: flex-start;
}

.guests-controls__item {

}

.guests-controls__item button {
    width: 2.3rem;
    height: 2.3rem;
    background-color: transparent;
    border: 1px solid var(--color-tertiary);
    transition: all .2s;
    border-radius: .5rem;
}

.guests-counter {
    font-weight: 700;
    color: var(--color-secondary);
}

.btn-destination {
    font-family: var(--font);
    background-color: transparent;
    border: 0;
    padding: .5rem;
    transition: all .2s;
}

.btn-destination:active {
    outline: none;
}