<nav [ngClass]="isNavActive ? 'nav-active' : ''">
    <form class="top-bar__container" [formGroup]="searchForm" (ngSubmit)="onSubmitSearchForm()">
        <div class="top-bar__logo" *ngIf="!isNavActive">
            <svg><use href="../../assets/images/sprite.svg#logo"></use></svg>
        </div>
        <ul class="top-bar__actions" [ngClass]="isNavActive ? 'top-bar__actions-active' : null">
            <li class="text-secondary location">
                <input type="text" name="location" id="location" autocomplete="off" placeholder="Where are you going?" (focus)="onActivateNav('location')" (input)="onSearchDestinations()" formControlName="destinationCity" [ngClass]="isNavActive ? 'input-active' : 'input-inactive'" value="{{ destination ? destination.city + ', ' + destination.country : searchForm.value.destinationCity }}" #location>
                <label for="location" *ngIf="isNavActive">Location</label>
                <div class="location-container" *ngIf="isNavActive && currentSection == 'location'">
                    <ng-container *ngIf="destinations">
                        <div class="location-item" *ngFor="let destination of filteredDestinations">
                            <svg>
                                <use href="../../assets/images/sprite.svg#map-pin"></use>
                            </svg>
                            <button type="button" class="btn-destination" (click)="defineDestination(destination.city, destination.country)">{{destination.city}}, {{destination.country}}</button>
                        </div>
                    </ng-container>
                </div>
            </li>
            <li class="text-tertiary guests">
                <button type="button" class="btn-guests btn" (click)="onActivateNav('guests')" *ngIf="!isNavActive">{{numberOfGuests > 0 ? numberOfGuests + ' guest(s)' : 'Add guests' }}</button>
                <label for="btn-guests" *ngIf="isNavActive">Guests</label>
                <button type="button" (click)="onActivateNav('guests')" *ngIf="isNavActive" class="input-active btn-active btn" name="btn-guests">{{numberOfGuests > 0 ? numberOfGuests + ' guest(s)' : 'Add guests' }}</button>
                <div class="guests__wrapper" *ngIf="isNavActive && currentSection == 'guests'">
                    <div class="guests-item">
                        <p class="guests-type">Adults</p>
                        <p class="guests-description">Ages 13 or above</p>
                        <div class="guests-controls-wrapper">
                            <div class="guests-controls__item">
                                <button type="button" (click)="decreaseAdults()">-</button>
                            </div>
                            <div class="guests-controls__item">
                                <p class="guests-counter">{{numberOfAdults}}</p>
                            </div>
                            <div class="guests-controls__item">
                                <button type="button" (click)="increaseAdults()">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="guests-item">
                        <p class="guests-type">Children</p>
                        <p class="guests-description">Ages 2-12</p>
                        <div class="guests-controls-wrapper">
                            <div class="guests-controls__item">
                                <button type="button" (click)="decreaseChildren()">-</button>
                            </div>
                            <div class="guests-controls__item">
                                <p class="guests-counter">{{numberOfChildren}}</p>
                            </div>
                            <div class="guests-controls__item">
                                <button type="button" (click)="increaseChildren()">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <button type="button" class="btn" *ngIf="!isNavActive" (click)="location.focus()">
                    <svg>
                        <use href="../../assets/images/sprite.svg#magnifying-glass"></use>
                    </svg>
                </button>
                <button type="submit" class="btn magnifying-btn-active" *ngIf="isNavActive" [disabled]="searchForm.invalid" [ngClass]="searchForm.invalid ? 'btn-disabled' : null">
                    <svg>
                        <use href="../../assets/images/sprite.svg#magnifying-glass"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </form>
</nav>
<div class="close-div" (click)="onDeactivateNav()" *ngIf="isNavActive">

</div>